$main-color: #a47700;
$black: #000000;
$white: #ffffff;
$grey: #a5a5a5;
$font: 'Mulish', sans-serif;
$shadow-settings: 14px 0px 9.300000190734863px 10px rgba(0, 0, 0, 0.25);

body {
    font-family: $font;
    margin: 0;
    padding: 0;
}

header {
    position: fixed; 
    top: 0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: #000000;
    box-shadow: $shadow-settings;
}

header img {
    width: 120px;
    height: 120px;
}

header ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    width: auto;
    top: 0;
    padding: 0px 30px;
    margin: 30px 0px;
    display: inline-block;
}

li a {
    text-decoration: none;
    color: $white;
}

li:hover {
    background-color: $main-color;
    border-radius: 15px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 15px;
    background-color: #a5a5a5;
    min-width: 90px;
    z-index: 1000;
    /*is used to check wether dropdown would be over or over bg*/
}

.dropdown-content a {
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    /*to display contents in vertical blocks */
    text-align: left;
}

.dropdown-content a:hover {
    background-color: $main-color;
    border-radius: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icons i{
    display: inline-block;
    padding: 0px 20px;
    margin: 50px 0px;
    color: #ffffff;
}

.section img {
    width: 300px;
    height: 300px;
}

.section {
    display: flex;
    padding: 30px;
    margin-top: 200px;

    @media (max-width: 799px) {
        flex-direction: column;
        align-items: center;
    }
}

.details {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

.details h1 {
    font-weight: 800;
    font-size: 40px;
}

.details p { 
    font-size: 18px;
    text-wrap: wrap;
    text-align: justify;
}

footer {
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    @media (max-width: 799px) {
        flex-direction: column;
        align-items: center;
    }
}

footer img {
    width: 200px;
    height: 200px;
    padding: 10px;
}
.aboutussec {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

footer h1 {
    font-weight: bold;
}
footer p {
    font-size: 16px;
}

footer nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

nav a, .socials a {
    text-decoration: none;
    color: $white;
    padding: 10px;
    margin: 5px;
}

.socials {
    display: flex;
    margin-top: 80px;
    font-size: 40px;
}

.copyright {
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    
}